name: "PUSH: Build Application"
on: [push, pull_request]
jobs:
  build-job:
    runs-on: ubuntu-latest
    env:
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    steps:
      - name: Fetching Node Image
        uses: actions/setup-node@v2
        with:
          node-version: 16
      # Why fetch?
      # Github Actions runs on a different enviroment which is not necessarily connected with the repo, think of it like a docker container
      # So in order to deploy the code, first fetch (clond) the repo in this github action enviroment and then create a build (Artifect)
      # which will later on be sent to Vercel (in this case, can be AWS or DigitalOcean, etc...)
      - name: Fetching Code from current repo
        uses: actions/checkout@v2
      - name: Installing dependencies
        run: npm install --production
      - name: Building the project
        run: npm run build
      - name: Deploy on Vercel
        run: |
          cd build
          yarn deploy-vc
      - name: DONE
        run: echo "It's Done, it will always be done"
