name: "PUSH: Build Application"
on: [push, pull_request]
jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - name: "Fetching Node Image"
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: "Fetching Code from current repo"
        uses: actions/checkout@v2
      - name: "Installing dependencies"
        run: "npm install --production"
      - name: "Building the project"
        run: "npm run build"
